In [1]:
import pandas as pd
df = pd.DataFrame(columns=["xxx","yyy"])

In [2]:
df

Empty DataFrame
Columns: [xxx, yyy]
Index: []

In [3]:
df2 = pd.DataFrame(columns=["sss","lll"])

In [4]:
df2

Empty DataFrame
Columns: [sss, lll]
Index: []

In [5]:
pd.concat([df,df2])

Empty DataFrame
Columns: [xxx, yyy, sss, lll]
Index: []

In [5]:
import numpy
a= numpy.load("./server/static/tfidf_arr.npy")

In [10]:
a.shape

(4975, 58367)

In [22]:
a_1,a_2=numpy.array_split(a,2)
a_1.shape

(2488, 58367)

In [30]:
import pickle 

f = open("./server/static/tfidf_arr1-.pkl","wb")
pickle.dump(a_1,f)
f.close

In [31]:
f = open("./server/static/tfidf_arr2-.pkl","wb")
pickle.dump(a_2,f)
f.close